<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        
        <!-- Carousel Inner -->
        @await Component.InvokeAsync("_CarouselInnerDefaultComponentPartial")       
        
        <!-- Spacial Offer -->
        @await Component.InvokeAsync("_CarouselSpecialOfferDefaultComponentPartial")
        
    </div>
</div>