@model UpdateSpecialOfferDto
@{
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminUILayout/AdminUILayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" readonly asp-for="SpecialOfferID" />
                        <label>Başlık</label>
                        <input type="text" class="form-control" placeholder="Özel Teklif Başlığı Giriniz" asp-for="Title" /><br />

                        <label>Sub Title</label>
                        <textarea class="form-control" rows="5" placeholder=" Özel Teklif Sub Title Giriniz" asp-for="SubTitle"></textarea><br />

                        <label>Özel Teklif Resmi</label>
                        <input type="text" class="form-control" placeholder="Özel Teklif Resmi Linkini Giriniz" asp-for="ImageUrl" /><br />

                        <button class="btn btn-primary"><i class="fa fa-plus me-1"></i> Özel Teklifi Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>