@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminUILayout/AdminUILayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">

                        <input type="hidden" class="form-control" readonly asp-for="BrandID" />
                        <br />

                        <label>Marka Adı</label>
                        <input type="text" class="form-control" placeholder="Kategori Adı Giriniz" asp-for="BrandName" />

                        <label>Marka Resmi Url</label>
                        <input type="text" class="form-control" placeholder="Kategori Resmi Url Giriniz" asp-for="ImageUrl" />

                        <br />
                        <button class="btn btn-primary"> Markayı Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>