<section class="content-header">
    <h1>@ViewBag.PageTitle</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @ViewBag.index1</a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> @ViewBag.index2</li>
        <li class="active"><i class="fa fa-bars"></i> @ViewBag.index3</li>
    </ol>
</section>